.wui-input {
  font-size: 1em;
  padding: 4px 14px;
  line-height: 22px;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  outline: none;
  border-radius: 4px;
  transition: all 250ms;
  &::placeholder {
    color: rgba(0, 0, 0, .3);
  }
  &:focus {
    border-color: #85b7d9;
    color: rgba(0, 0, 0, .8);
    &::placeholder {
      color: rgba(0, 0, 0, .6);
    }
  }
}
