$default-color: #e0e1e2;
.wui-button {
  display: inline-flex;
  vertical-align: top;
  align-items: center;
  font-size: 1em;
  padding: 5px 18px;
  line-height: 22px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 4px;
  font-weight: 500;
  &-default {
    background-color: #e0e1e2;
    color: rgba(0, 0, 0, .6);
    &:focus, &:hover {
      background-color: #cacbcd;
      color: rgba(0, 0, 0, .8);
    }
  }
  &-primary {
    background-color: #2185d0;
    color: #fff;
    &:focus, &:hover {
      background-color: #0d71bb;
    }
  }
  &-secondary {
    background-color: #1b1c1d;
    color: #fff;
    &:focus, &:hover {
      background-color: #27292a;
    }
  }
  &-disabled {
    cursor: not-allowed;
    opacity: 0.45;
  }
  &-icon-left {
    margin-right: 8px;
  }
  &-icon-right {
    margin-left: 8px;
    order: 1;
  }
  &-spin {
    animation: spin 0.8s infinite linear;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
