@import "../../assets/styles/vars";
.wui-form {
  // tr,td设置margin不会生效
  &-tr &-td {
    padding-bottom: 24px;
  }
  &-tr:last-child &-td {
    padding-bottom: 0;
  }

  // 相邻兄弟选择器
  &-td + &-td {
    padding-left: 6px;
  }
  &-td {
    position: relative;
  }
  &-errors {
    top: 32px;
    left: 6px;
    position: absolute;
    color: $danger;
  }

  // 在不换行的情况下实现等间距排列
  &-button + &-button {
    margin-left: 8px;
  }
}
