.wui-dialog {
  &-mask {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .85);
  }
  &-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 800px;
    background-color: #fff;
    border-radius: 4px;
  }
  &-header {
    padding: 18px 20px;
    font-size: 18px;
    border-bottom: 1px solid rgba(34, 36, 38, .15);
    font-weight: 700;
  }
  &-main {
    padding: 20px;
  }
  &-footer {
    display: flex;
    justify-content: flex-end;
    padding: 14px;
    border-top: 1px solid rgba(34, 36, 38, .15);
  }
  &-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0.8;
    padding: 2px;
    left: 100%;
    bottom: 100%;
    cursor: pointer;
    font-size: 16px;
    &:hover {
      opacity: 1;
    }
  }
}
