.example {
  height: 100vh;
  overflow-y: auto;
  font-size: 14px;
  .menu {
    width: 100px;
  }
  .footer, .header {
    height: 60px;
    flex-shrink: 0;
  }
  .content {
    min-height: 0;
  }
  .component-wrapper {
    padding: 12px;
    overflow-y: auto;
  }
}
